<article class="card">

    <!-- Header -->
    <header class="card__header">
        <h1 class="card__header__title">
            <a href="{{ .Permalink }}" class="card__header__title__link" alt="{{ .Title }}">
                {{ .Title }}
            </a>
        </h1>

        {{ if .Params.Author }}
        <p class="card__header__author">
            {{ .Params.Author }}
        </p>
        {{ end }}

        {{ if .Params.PublishDate }}
        <p class="card__header__date">
            {{ if $.Site.Params.date.format }}
            {{ .PublishDate.Format $.Site.Params.date.format }}
            {{ else }}
            {{ .PublishDate.Format "January 2, 2006" }}
            {{ end }}
        </p>
        {{ end }}
    </header>

    <!-- Main -->
    {{ if .Params.Description }}
    <main class="card__body">
        <p class="card__body__description">
            {{ .Params.Description }}
        </p>
    </main>
    {{ end }}

    <!-- Footer -->
    <footer class="card__footer">
        {{ if .Params.tags }}
        {{ if gt (len .Params.tags) 0 }}
        {{ .Render "tags" }}
        {{ end }}
        {{ end }}
    </footer>
</article>