a {
    color: var(--foreground);
}

a:hover {
    color: var(--pink);
}

body {
    background-color: var(--background);
    color: var(--text);
    font-size: var(--base);
}

footer {
    background-color: var(--accent);
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

header {
    background-color: var(--accent);
    box-shadow: 0 1px 2.25px var(--pink);
    font-size: var(--p);
    padding: 1.15rem 1.75rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

label {
    display: none;
}

main {
    min-height: 100vh;
}

input {
    color: var(--background);
    font-size: var(--p);
    margin-top: 1.25rem;
    padding: 0.5rem 0.45rem;
}

input:required {
    outline-color: var(--red);
}