a {
    color: var(--foreground);
}

a:hover {
    color: var(--pink);
}

body {
    background-color: var(--background);
    color: var(--base);
    font-size: var(--base);
}

footer {
    background-color: var(--accent);
}

header {
    background-color: var(--accent);
    box-shadow: 0 1px 2.25px var(--pink);
    font-size: var(--p);
    padding: 1.15rem 1.75rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

textarea {
    resize: none;
}

p {
    color: var(--text);
}

main {
    min-height: 100vh;
}