<header class="header" id="header">

    <!-- Title -->
    <div class="header__title">
        <a href="{{ $.Site.BaseURL }}" class="header__title__link" alt="{{ $.Site.BaseURL }}">
            {{ if $.Site.Params.logo }}
            <img src="{{ $.Site.BaseURL }}{{ $.Site.Params.logo }}" class="header__title__link--logo"
                alt="{{ $.Site.Title }}}">
            {{ else }}
            {{ $.Site.Title }}
            {{ end }}
        </a>
    </div>

    <!-- Menu -->
    {{ partial "menu.html" . }}

</header>