{{ $items := (where $.Site.RegularPages "Type" "sections") }}

{{ range $items }}
{{ $bkg := "" }}
{{ if gt (len .Params.images) 0 }}
{{ $bkgImage := print (index .Params.images 0) }}
{{ $bkgURL := printf "%s%s" $.Site.BaseURL $bkgImage }}
{{ $bkg = printf "%s%s%s" "background-image: url('" $bkgURL "');"}}
{{ end }}

<section class="section bkg-image" id="{{ .Title }}"
    style="{{ safeCSS $bkg }} border-bottom: 5px solid var(--{{ print .Params.borderColor }});">
    <h1 class="section__title">{{ .Title }}</h1>
    {{ .Content }}
</section>
{{ end }}